# Dependencies
node_modules

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test

# Testing
coverage

# Turbo
.turbo

# Build Outputs
dist
build
.vite
*.tsbuildinfo

# Debug
npm-debug.log*

# Misc
.DS_Store

# IDE
.vscode/
